<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.logistics.dao.mapper.CfLogisticsStorehousePlatformCargoTypeMapper" >
  <resultMap id="BaseResultMap" type="com.cf.logistics.domain.CfLogisticsStorehousePlatformCargoType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="logistics_storehouse_id" property="logisticsStorehouseId" jdbcType="BIGINT" />
    <result column="logistics_storehouse_platform_id" property="logisticsStorehousePlatformId" jdbcType="BIGINT" />
    <result column="cargo_type" property="cargoType" jdbcType="VARCHAR" />
    <result column="factory_id" property="factoryId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, logistics_storehouse_id, logistics_storehouse_platform_id, cargo_type, factory_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cf.logistics.domain.CfLogisticsStorehousePlatformCargoTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cf_logistics_storehouse_platform_cargo_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cf_logistics_storehouse_platform_cargo_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cf_logistics_storehouse_platform_cargo_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cf.logistics.domain.CfLogisticsStorehousePlatformCargoTypeExample" >
    delete from cf_logistics_storehouse_platform_cargo_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cf.logistics.domain.CfLogisticsStorehousePlatformCargoType" >
    insert into cf_logistics_storehouse_platform_cargo_type (id, logistics_storehouse_id, logistics_storehouse_platform_id, 
      cargo_type, factory_id)
    values (#{id,jdbcType=BIGINT}, #{logisticsStorehouseId,jdbcType=BIGINT}, #{logisticsStorehousePlatformId,jdbcType=BIGINT}, 
      #{cargoType,jdbcType=VARCHAR}, #{factoryId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cf.logistics.domain.CfLogisticsStorehousePlatformCargoType" >
    insert into cf_logistics_storehouse_platform_cargo_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="logisticsStorehouseId != null" >
        logistics_storehouse_id,
      </if>
      <if test="logisticsStorehousePlatformId != null" >
        logistics_storehouse_platform_id,
      </if>
      <if test="cargoType != null" >
        cargo_type,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logisticsStorehouseId != null" >
        #{logisticsStorehouseId,jdbcType=BIGINT},
      </if>
      <if test="logisticsStorehousePlatformId != null" >
        #{logisticsStorehousePlatformId,jdbcType=BIGINT},
      </if>
      <if test="cargoType != null" >
        #{cargoType,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cf.logistics.domain.CfLogisticsStorehousePlatformCargoTypeExample" resultType="java.lang.Integer" >
    select count(*) from cf_logistics_storehouse_platform_cargo_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cf_logistics_storehouse_platform_cargo_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.logisticsStorehouseId != null" >
        logistics_storehouse_id = #{record.logisticsStorehouseId,jdbcType=BIGINT},
      </if>
      <if test="record.logisticsStorehousePlatformId != null" >
        logistics_storehouse_platform_id = #{record.logisticsStorehousePlatformId,jdbcType=BIGINT},
      </if>
      <if test="record.cargoType != null" >
        cargo_type = #{record.cargoType,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryId != null" >
        factory_id = #{record.factoryId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cf_logistics_storehouse_platform_cargo_type
    set id = #{record.id,jdbcType=BIGINT},
      logistics_storehouse_id = #{record.logisticsStorehouseId,jdbcType=BIGINT},
      logistics_storehouse_platform_id = #{record.logisticsStorehousePlatformId,jdbcType=BIGINT},
      cargo_type = #{record.cargoType,jdbcType=VARCHAR},
      factory_id = #{record.factoryId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cf.logistics.domain.CfLogisticsStorehousePlatformCargoType" >
    update cf_logistics_storehouse_platform_cargo_type
    <set >
      <if test="logisticsStorehouseId != null" >
        logistics_storehouse_id = #{logisticsStorehouseId,jdbcType=BIGINT},
      </if>
      <if test="logisticsStorehousePlatformId != null" >
        logistics_storehouse_platform_id = #{logisticsStorehousePlatformId,jdbcType=BIGINT},
      </if>
      <if test="cargoType != null" >
        cargo_type = #{cargoType,jdbcType=VARCHAR},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cf.logistics.domain.CfLogisticsStorehousePlatformCargoType" >
    update cf_logistics_storehouse_platform_cargo_type
    set logistics_storehouse_id = #{logisticsStorehouseId,jdbcType=BIGINT},
      logistics_storehouse_platform_id = #{logisticsStorehousePlatformId,jdbcType=BIGINT},
      cargo_type = #{cargoType,jdbcType=VARCHAR},
      factory_id = #{factoryId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>