<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.ad.dao.mapper.CfAdMapper" >
  <resultMap id="BaseResultMap" type="com.cf.ad.domain.CfAd" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="material_type" property="materialType" jdbcType="VARCHAR" />
    <result column="sort_index" property="sortIndex" jdbcType="SMALLINT" />
    <result column="source_address" property="sourceAddress" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="show_counts" property="showCounts" jdbcType="INTEGER" />
    <result column="click_counts" property="clickCounts" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="BIGINT" />
    <result column="end_time" property="endTime" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, subtitle, cover, platform, material_type, sort_index, source_address, 
    appid, show_counts, click_counts, start_time, end_time, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cf.ad.domain.CfAdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cf_ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cf_ad
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cf_ad
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cf.ad.domain.CfAdExample" >
    delete from cf_ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cf.ad.domain.CfAd" >
    insert into cf_ad (id, title, subtitle, 
      cover, platform, material_type, 
      sort_index, source_address, appid, 
      show_counts, click_counts, start_time, 
      end_time, create_time)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{cover,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{materialType,jdbcType=VARCHAR}, 
      #{sortIndex,jdbcType=SMALLINT}, #{sourceAddress,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, 
      #{showCounts,jdbcType=INTEGER}, #{clickCounts,jdbcType=INTEGER}, #{startTime,jdbcType=BIGINT}, 
      #{endTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cf.ad.domain.CfAd" >
    insert into cf_ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="materialType != null" >
        material_type,
      </if>
      <if test="sortIndex != null" >
        sort_index,
      </if>
      <if test="sourceAddress != null" >
        source_address,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="showCounts != null" >
        show_counts,
      </if>
      <if test="clickCounts != null" >
        click_counts,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null" >
        #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        #{sortIndex,jdbcType=SMALLINT},
      </if>
      <if test="sourceAddress != null" >
        #{sourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="showCounts != null" >
        #{showCounts,jdbcType=INTEGER},
      </if>
      <if test="clickCounts != null" >
        #{clickCounts,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=BIGINT},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cf.ad.domain.CfAdExample" resultType="java.lang.Integer" >
    select count(*) from cf_ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cf_ad
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.subtitle != null" >
        subtitle = #{record.subtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.cover != null" >
        cover = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.platform != null" >
        platform = #{record.platform,jdbcType=VARCHAR},
      </if>
      <if test="record.materialType != null" >
        material_type = #{record.materialType,jdbcType=VARCHAR},
      </if>
      <if test="record.sortIndex != null" >
        sort_index = #{record.sortIndex,jdbcType=SMALLINT},
      </if>
      <if test="record.sourceAddress != null" >
        source_address = #{record.sourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.showCounts != null" >
        show_counts = #{record.showCounts,jdbcType=INTEGER},
      </if>
      <if test="record.clickCounts != null" >
        click_counts = #{record.clickCounts,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=BIGINT},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cf_ad
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      subtitle = #{record.subtitle,jdbcType=VARCHAR},
      cover = #{record.cover,jdbcType=VARCHAR},
      platform = #{record.platform,jdbcType=VARCHAR},
      material_type = #{record.materialType,jdbcType=VARCHAR},
      sort_index = #{record.sortIndex,jdbcType=SMALLINT},
      source_address = #{record.sourceAddress,jdbcType=VARCHAR},
      appid = #{record.appid,jdbcType=VARCHAR},
      show_counts = #{record.showCounts,jdbcType=INTEGER},
      click_counts = #{record.clickCounts,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=BIGINT},
      end_time = #{record.endTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cf.ad.domain.CfAd" >
    update cf_ad
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null" >
        material_type = #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        sort_index = #{sortIndex,jdbcType=SMALLINT},
      </if>
      <if test="sourceAddress != null" >
        source_address = #{sourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="showCounts != null" >
        show_counts = #{showCounts,jdbcType=INTEGER},
      </if>
      <if test="clickCounts != null" >
        click_counts = #{clickCounts,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=BIGINT},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cf.ad.domain.CfAd" >
    update cf_ad
    set title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      material_type = #{materialType,jdbcType=VARCHAR},
      sort_index = #{sortIndex,jdbcType=SMALLINT},
      source_address = #{sourceAddress,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      show_counts = #{showCounts,jdbcType=INTEGER},
      click_counts = #{clickCounts,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=BIGINT},
      end_time = #{endTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>