<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.charging.dao.mapper.CfChargingStationLinkUserMapper" >
  <resultMap id="BaseResultMap" type="com.cf.charging.domain.CfChargingStationLinkUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="charging_station_id" property="chargingStationId" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="allow_edit" property="allowEdit" jdbcType="TINYINT" />
    <result column="allow_delete" property="allowDelete" jdbcType="TINYINT" />
    <result column="creater" property="creater" jdbcType="TINYINT" />
    <result column="check_point_ids" property="checkPointIds" jdbcType="VARCHAR" />
    <result column="start_duty_time" property="startDutyTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, charging_station_id, uid, allow_edit, allow_delete, creater, check_point_ids, 
    start_duty_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cf.charging.domain.CfChargingStationLinkUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cf_charging_station_link_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cf_charging_station_link_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cf_charging_station_link_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cf.charging.domain.CfChargingStationLinkUserExample" >
    delete from cf_charging_station_link_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cf.charging.domain.CfChargingStationLinkUser" >
    insert into cf_charging_station_link_user (id, charging_station_id, uid, 
      allow_edit, allow_delete, creater, 
      check_point_ids, start_duty_time)
    values (#{id,jdbcType=VARCHAR}, #{chargingStationId,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, 
      #{allowEdit,jdbcType=TINYINT}, #{allowDelete,jdbcType=TINYINT}, #{creater,jdbcType=TINYINT}, 
      #{checkPointIds,jdbcType=VARCHAR}, #{startDutyTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cf.charging.domain.CfChargingStationLinkUser" >
    insert into cf_charging_station_link_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chargingStationId != null" >
        charging_station_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="allowEdit != null" >
        allow_edit,
      </if>
      <if test="allowDelete != null" >
        allow_delete,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="checkPointIds != null" >
        check_point_ids,
      </if>
      <if test="startDutyTime != null" >
        start_duty_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="chargingStationId != null" >
        #{chargingStationId,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="allowEdit != null" >
        #{allowEdit,jdbcType=TINYINT},
      </if>
      <if test="allowDelete != null" >
        #{allowDelete,jdbcType=TINYINT},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=TINYINT},
      </if>
      <if test="checkPointIds != null" >
        #{checkPointIds,jdbcType=VARCHAR},
      </if>
      <if test="startDutyTime != null" >
        #{startDutyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cf.charging.domain.CfChargingStationLinkUserExample" resultType="java.lang.Integer" >
    select count(*) from cf_charging_station_link_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cf_charging_station_link_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.chargingStationId != null" >
        charging_station_id = #{record.chargingStationId,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.allowEdit != null" >
        allow_edit = #{record.allowEdit,jdbcType=TINYINT},
      </if>
      <if test="record.allowDelete != null" >
        allow_delete = #{record.allowDelete,jdbcType=TINYINT},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=TINYINT},
      </if>
      <if test="record.checkPointIds != null" >
        check_point_ids = #{record.checkPointIds,jdbcType=VARCHAR},
      </if>
      <if test="record.startDutyTime != null" >
        start_duty_time = #{record.startDutyTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cf_charging_station_link_user
    set id = #{record.id,jdbcType=VARCHAR},
      charging_station_id = #{record.chargingStationId,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR},
      allow_edit = #{record.allowEdit,jdbcType=TINYINT},
      allow_delete = #{record.allowDelete,jdbcType=TINYINT},
      creater = #{record.creater,jdbcType=TINYINT},
      check_point_ids = #{record.checkPointIds,jdbcType=VARCHAR},
      start_duty_time = #{record.startDutyTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cf.charging.domain.CfChargingStationLinkUser" >
    update cf_charging_station_link_user
    <set >
      <if test="chargingStationId != null" >
        charging_station_id = #{chargingStationId,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="allowEdit != null" >
        allow_edit = #{allowEdit,jdbcType=TINYINT},
      </if>
      <if test="allowDelete != null" >
        allow_delete = #{allowDelete,jdbcType=TINYINT},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=TINYINT},
      </if>
      <if test="checkPointIds != null" >
        check_point_ids = #{checkPointIds,jdbcType=VARCHAR},
      </if>
      <if test="startDutyTime != null" >
        start_duty_time = #{startDutyTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cf.charging.domain.CfChargingStationLinkUser" >
    update cf_charging_station_link_user
    set charging_station_id = #{chargingStationId,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      allow_edit = #{allowEdit,jdbcType=TINYINT},
      allow_delete = #{allowDelete,jdbcType=TINYINT},
      creater = #{creater,jdbcType=TINYINT},
      check_point_ids = #{checkPointIds,jdbcType=VARCHAR},
      start_duty_time = #{startDutyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>