<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.ucenter.dao.mapper.CfAccessTokenManageMapper" >
  <resultMap id="BaseResultMap" type="com.cf.ucenter.domain.CfAccessTokenManage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="token_value" property="tokenValue" jdbcType="VARCHAR" />
    <result column="application_scenes" property="applicationScenes" jdbcType="VARCHAR" />
    <result column="expired_time" property="expiredTime" jdbcType="BIGINT" />
    <result column="token_notes" property="tokenNotes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, appid, token_value, application_scenes, expired_time, token_notes
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cf.ucenter.domain.CfAccessTokenManageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cf_access_token_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cf_access_token_manage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cf_access_token_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cf.ucenter.domain.CfAccessTokenManageExample" >
    delete from cf_access_token_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cf.ucenter.domain.CfAccessTokenManage" >
    insert into cf_access_token_manage (id, appid, token_value, 
      application_scenes, expired_time, token_notes
      )
    values (#{id,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR}, #{tokenValue,jdbcType=VARCHAR}, 
      #{applicationScenes,jdbcType=VARCHAR}, #{expiredTime,jdbcType=BIGINT}, #{tokenNotes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cf.ucenter.domain.CfAccessTokenManage" >
    insert into cf_access_token_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="tokenValue != null" >
        token_value,
      </if>
      <if test="applicationScenes != null" >
        application_scenes,
      </if>
      <if test="expiredTime != null" >
        expired_time,
      </if>
      <if test="tokenNotes != null" >
        token_notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="tokenValue != null" >
        #{tokenValue,jdbcType=VARCHAR},
      </if>
      <if test="applicationScenes != null" >
        #{applicationScenes,jdbcType=VARCHAR},
      </if>
      <if test="expiredTime != null" >
        #{expiredTime,jdbcType=BIGINT},
      </if>
      <if test="tokenNotes != null" >
        #{tokenNotes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cf.ucenter.domain.CfAccessTokenManageExample" resultType="java.lang.Integer" >
    select count(*) from cf_access_token_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cf_access_token_manage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.tokenValue != null" >
        token_value = #{record.tokenValue,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationScenes != null" >
        application_scenes = #{record.applicationScenes,jdbcType=VARCHAR},
      </if>
      <if test="record.expiredTime != null" >
        expired_time = #{record.expiredTime,jdbcType=BIGINT},
      </if>
      <if test="record.tokenNotes != null" >
        token_notes = #{record.tokenNotes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cf_access_token_manage
    set id = #{record.id,jdbcType=BIGINT},
      appid = #{record.appid,jdbcType=VARCHAR},
      token_value = #{record.tokenValue,jdbcType=VARCHAR},
      application_scenes = #{record.applicationScenes,jdbcType=VARCHAR},
      expired_time = #{record.expiredTime,jdbcType=BIGINT},
      token_notes = #{record.tokenNotes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cf.ucenter.domain.CfAccessTokenManage" >
    update cf_access_token_manage
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="tokenValue != null" >
        token_value = #{tokenValue,jdbcType=VARCHAR},
      </if>
      <if test="applicationScenes != null" >
        application_scenes = #{applicationScenes,jdbcType=VARCHAR},
      </if>
      <if test="expiredTime != null" >
        expired_time = #{expiredTime,jdbcType=BIGINT},
      </if>
      <if test="tokenNotes != null" >
        token_notes = #{tokenNotes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cf.ucenter.domain.CfAccessTokenManage" >
    update cf_access_token_manage
    set appid = #{appid,jdbcType=VARCHAR},
      token_value = #{tokenValue,jdbcType=VARCHAR},
      application_scenes = #{applicationScenes,jdbcType=VARCHAR},
      expired_time = #{expiredTime,jdbcType=BIGINT},
      token_notes = #{tokenNotes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>