<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.ucenter.dao.mapper.CfUserSourceMapper" >
  <resultMap id="BaseResultMap" type="com.cf.ucenter.domain.CfUserSource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="source_id" property="sourceId" jdbcType="VARCHAR" />
    <result column="source_type" property="sourceType" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="allow_edit" property="allowEdit" jdbcType="TINYINT" />
    <result column="allow_delete" property="allowDelete" jdbcType="TINYINT" />
    <result column="creater_id" property="createrId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, source_id, source_type, uid, allow_edit, allow_delete, creater_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cf.ucenter.domain.CfUserSourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cf_user_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cf_user_source
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cf_user_source
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cf.ucenter.domain.CfUserSourceExample" >
    delete from cf_user_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cf.ucenter.domain.CfUserSource" >
    insert into cf_user_source (id, source_id, source_type, 
      uid, allow_edit, allow_delete, 
      creater_id)
    values (#{id,jdbcType=VARCHAR}, #{sourceId,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, 
      #{uid,jdbcType=VARCHAR}, #{allowEdit,jdbcType=TINYINT}, #{allowDelete,jdbcType=TINYINT}, 
      #{createrId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cf.ucenter.domain.CfUserSource" >
    insert into cf_user_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sourceId != null" >
        source_id,
      </if>
      <if test="sourceType != null" >
        source_type,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="allowEdit != null" >
        allow_edit,
      </if>
      <if test="allowDelete != null" >
        allow_delete,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="allowEdit != null" >
        #{allowEdit,jdbcType=TINYINT},
      </if>
      <if test="allowDelete != null" >
        #{allowDelete,jdbcType=TINYINT},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cf.ucenter.domain.CfUserSourceExample" resultType="java.lang.Integer" >
    select count(*) from cf_user_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cf_user_source
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceId != null" >
        source_id = #{record.sourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceType != null" >
        source_type = #{record.sourceType,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.allowEdit != null" >
        allow_edit = #{record.allowEdit,jdbcType=TINYINT},
      </if>
      <if test="record.allowDelete != null" >
        allow_delete = #{record.allowDelete,jdbcType=TINYINT},
      </if>
      <if test="record.createrId != null" >
        creater_id = #{record.createrId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cf_user_source
    set id = #{record.id,jdbcType=VARCHAR},
      source_id = #{record.sourceId,jdbcType=VARCHAR},
      source_type = #{record.sourceType,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR},
      allow_edit = #{record.allowEdit,jdbcType=TINYINT},
      allow_delete = #{record.allowDelete,jdbcType=TINYINT},
      creater_id = #{record.createrId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cf.ucenter.domain.CfUserSource" >
    update cf_user_source
    <set >
      <if test="sourceId != null" >
        source_id = #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="allowEdit != null" >
        allow_edit = #{allowEdit,jdbcType=TINYINT},
      </if>
      <if test="allowDelete != null" >
        allow_delete = #{allowDelete,jdbcType=TINYINT},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cf.ucenter.domain.CfUserSource" >
    update cf_user_source
    set source_id = #{sourceId,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      allow_edit = #{allowEdit,jdbcType=TINYINT},
      allow_delete = #{allowDelete,jdbcType=TINYINT},
      creater_id = #{createrId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>



  <insert id="batchInsert" parameterType="java.util.List">
    insert into cf_user_source (id, source_id, source_type,
      uid, allow_edit, allow_delete,
      creater_id)
    values
    <foreach collection="list" item="it" separator=",">
      (#{it.id,jdbcType=VARCHAR}, #{it.sourceId,jdbcType=VARCHAR}, #{it.sourceType,jdbcType=VARCHAR},
      #{it.uid,jdbcType=VARCHAR}, #{it.allowEdit,jdbcType=TINYINT}, #{it.allowDelete,jdbcType=TINYINT},
      #{it.createrId,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>